body{
    background-color: cornsilk;
    font-family:Verdana;
}
* {
    box-sizing: border-box;
}
.header{
    background-color: #dcdcef;
    color: #7a2f2f;
    font-size: 190%;
    padding-right: 5%;
    padding-top: 1%;
    text-align: right;
}
.top{
    background: #dcdcef;
    color: #b14343;
    font-size: 285%;
    padding-left: 5%;
}
.menu {
   padding: 2%;
    background-color: #d0cfcf;
    padding-left: 10px ;
    width: 22%;
    color: #8a3535;
    font-size: 190%;
    font-weight: bold;
    overflow: auto;
    float: left;
}
a{
    color: #620303;
    width: 100%;
    display: block;
}
.main{

    float: left;
    width: 78% ;
    background-color: #f1f1f5;
}

menu:after {
    content: "";
    display: table;
    clear: both;
}
.footer{
    background: #f5eded;
    font-size: 350%;
    color: #7a2f2f;
    padding-left: 20px;
}
img{
    width: 100%;
    height: auto;
}
.article {
    float: left;
    width: 78%;
    background-color: #f1f1f1;
    padding: 3%;
    text-align: justify;
    font-size: 118%;
}

.line-lines{
    margin-top: 5%;
    margin-bottom: 5%;
}
.line-list{
    margin-left: 5%;
}
@media only screen and (max-width:800px) {
    .menu, .main,.article {
        width:100%;
        height: auto;
    }
}